<%= render "shared/navbar" %>
<div class="background-img">
  <div class="content">
    <h1 class="text-center mt-1"><%= @category.capitalize %> Robots</h1>
    <div class="d-flex justify-content-center">
      <div class="row m-3">
        <% if @robots_in_category.present? %>
          <% @robots_in_category.each do |robot| %>
            <div class="col-md-4 mb-4">
              <%= link_to robot_path(robot), class: "text-decoration-none" do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(robot.robot_pictures, width: 170, height: 300) %>)">
                  <%= robot.robot_name %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="col-md-4 mb-4">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddfjqexgw/image/upload/v1692959247/image_msn7un.jpg)">
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-map mt-3" style="width: 45%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
