
<%= render "shared/navbar" %>

<h1 class="text-center"><%= @category.capitalize %> Robots</h1>

<div class="d-flex justify-content-between">
  <div class="row" style="width: 66.66%;">
    <% if @robots.present? %>
      <% @robots.each do |robot| %>
        <div class="col-md-4 mb-4">
          <div class="card">
           <%= image_tag(robot.robot_pictures, style: "width:265px; height:400px")%>
           <%= robot.robot_name %>
            <%= robot.description %>

            <div class="card-body">
              <h5 class="card-title"><%= link_to robot.robot_name, robot_path(robot), class: "text-decoration-none" %></h5>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card" style="width: 33.33%;">

  </div>
</div>
