<%= render "shared/navbar" %>
<div class="background-img">
  <div class="content">
    <h1 class="text-center mt-1"><%= @category.capitalize %> Robots</h1>
    <div class="d-flex justify-content-center">
      <div class="cards mb-5">
        <% @robots_in_category.each do |robot| %>
          <%= link_to new_robot_booking_path(robot), class: "text-decoration-none" do %>
            <div data-info-cards-value="" class="card-trip ">
              <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1692905976/<%= robot.robot_pictures %>" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= robot.robot_name %></h2>
                  <p><%= robot.description %></p>
                </div>
                <h2 class="card-trip-pricing"> <%= robot.price %>€/hour</h2>
              </div>
              <div class="card-hover-content">
                <h1>Book Now</h1>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="card-trip">
          <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1692959247/image_msn7un.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2>Paint Man</h2>
              <p>paint your walls and make your house prettier</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-map mt-3 mx-5 shadow-lg" style="width: 65%; height: 106vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
