<%= render "shared/navbar" %>
<body class="category-page">
  <div class="row m-5">
    <% if @robots.present? %>
      <% @robots.each do |robot| %>
        <div class="col-md-4 mb-4">
          <div class="card d-flex border border-dark" style="width: 265px;"> <!-- Set the width to match the image width -->
            <%= image_tag("party.jpg", width: 265, height: 300, class: "card-img-left") %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to robot.robot_name, robot_path(robot), class: "text-decoration-none" %></h5>
              <p class="card-text"><strong>Features: </strong><%= robot.description %></p>
              <p class="card-text"><strong>Price:</strong> $<%= robot.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="card map-card mt-4" style="width: 100%;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</body>
