<%= render "shared/navbar" %>

<div class="background-image">
  <div class="tagline">
    <h2>Robots that Care, Assist, and Transform Your Life.</h2>
  </div>
  <div class="robot-categories">
    <div class="category">
      <%= link_to category_robots_path('home') do %>
        <%= image_tag("clenanin.jpg", style: "width:400px; height:400px") %>
        <div class="category-card">
          <h3>HOME</h3>
          <p>Book your home robots</p>
        </div>
      <% end %>
    </div>
    <div class="category">
      <%= link_to category_robots_path('fun') do %>
        <%= image_tag("party.jpg", style: "width:400px; height:400px") %>
        <div class="category-card">
          <h3>FUN</h3>
          <p>Book your fun robots</p>
        </div>
      <% end %>
    </div>
    <div class="category">
      <%= link_to category_robots_path('work') do %>
        <%= image_tag("menu.jpg", style: "width:400px; height:400px") %>
        <div class="category-card">
          <h3>WORK</h3>
          <p>Book your work robots</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
