<%= render "shared/navbar" %>

<div class="background-image">
  <div class="tagline">
    <h2>Robots that Care, Assist, and Transform Your Life.</h2>
  </div>
  <div class="robot-categories">
    <div class="category">
      <%= link_to category_robots_path('home') do %>
        <%= cl_image_tag("id0zlntlxyozmfkfnilw", width: 400, height: 400, crop: :fill) %>
        <div class="category-card">
          <h3>HOME</h3>
          <p>Book your home robots</p>
        </div>
      <% end %>
    </div>
    <div class="category">
      <%= link_to category_robots_path('fun') do %>
        <%= cl_image_tag("ybyeqkcgdmdhavu9jexh", width: 400, height: 400, crop: :fill) %>
          <div class="category-card">
            <h3>FUN</h3>
            <p>Book your fun robots </p>
          </div>
      <% end %>
    </div>
    <div class="category">
      <%= link_to category_robots_path('work') do %>
        <%= cl_image_tag("vhj07l4pkzgdlxnsak1m", width: 400, height: 400, crop: :fill) %>
        <div class="category-card">
          <h3>WORK</h3>
          <p>Book your work robots</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
