<%= render "shared/navbar" %>
<div class="background-style">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="robot-card text-center">
      <div class="card-container w-400px">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddfjqexgw/image/upload/v1692905976/<%= @robot.robot_pictures %>)">
          <%= @robot.robot_name %>
        </div>
            <strong>Description:</strong> <%= @robot.description %>
          </p>
          <p>
            <strong>Price:</strong> <%= number_to_currency(@robot.price, unit: "€") %>
          </p>
          <div class="card-footer">
            <%= link_to "Create Booking", new_robot_booking_path(@robot), class: "btn btn-primary btn-create-booking" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
