<%= render "shared/navbar" %>
<div class="container-new p-4">
  <div class="content">
    <div class="d-flex justify-content-center my-3">
      <div class="col-lg-4 form-container py-3">
        <div class="booking">
          <h1>Booking <%= @robot.robot_name %></h1>
          <img class="rounded-img pb-3" src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1692905976/<%= @robot.robot_pictures %>" />
          <%= simple_form_for ([@robot, @booking]) do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :return_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
            <%= f.button :submit, class: 'btn btn-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
