<%= render "shared/navbar" %>




  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <img src="https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1557&q=80" alt="ulrich photo" class="rounded-circle" width= 150px>
      </div>

      <div class="col-md-8 text-center mt-4">
        <h2>Hello, <%= @user.first_name %> <%= @user.last_name %></h2>
      </div>
  </div>

  <div class="container">
    <h3 class="mt-5">My Robots</h3>
    <div class="row">
      <% @robots.each do |robot| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="<%= app/assets/images/disco_man.jpg%>" alt="<%=disco man %>" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= link_to robot.robot_name, robot_path(robot) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <h3>My Bookings</h3>
  <ul>
    <% @user.bookings.each do |booking|%>
      <%= booking.start_date %>
    <% end %>
  </ul>
</div>
