
<%= render "shared/navbar" %>
<div class="profile-container">
  <img src="https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1557&q=80" alt="ulrich photo" class="rounded-circle" width="250px" ml-3>

  <div class="card-profile">
    <h3 class="name">Welcome  <%= @user.first_name.capitalize %> !</h3>

    <h3 class="name"> <strong>My Bookings </strong></h3>
    <ul>
      <% @user.bookings.each do |booking| %>
        <p class="booking-item">
          <div class="booking-card">
           <h5> <%= booking.robot.robot_name %>
            <span class="remove"> <%= link_to "X", booking_path(booking),data: { turbo_method: :delete}, class: "remove-link" %> </span>
           </h5>
            <p><strong>Start: </strong> <%= booking.start_date %> </p>
            <p><strong>Return: </strong><%= booking.return_date %>  </p>
          </div>
        </p>
      <% end %>
    </ul>
  </div>
</div>
